body {
    overflow: hidden;
    background-image: url(/server/images/background/concert.jpg);
    background-repeat: no-repeat;
    fill-opacity: 0.5;
    background-size: cover;
    height: 100vh;

    .container {
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(15, 33, 34, 0.6980392157));
        backdrop-filter: blur(5px) brightness(0.4);
        width: 100%;
        display: flex;
        flex-direction: row;

        .leftbox {
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img{
                height: 20%;
                margin: 20px;
            }
            h1{
                font-size: 3.5em;
                text-align: center;
            }
        }
    
        form {
            background-color: #0D1321;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 40vw;
            padding: 0 10vh;
            
            h1 {
                color: #28B67E;
                text-align:center;
                font-size: 3em;
                margin: 50px;
            }
    
            .inputs {
                display: flex;
                flex-direction: column;
                margin: 15px;
    
                input[type='username'], input[type='password'], input[type='confirmpassword']{
                    width: 20vw;
                    margin: 15px;
                    padding-bottom: 5px;
                    border:none;
                    border-bottom-style: solid;
                    border-color: #b1b1b1;
                    background-color: transparent;
                    color: #ffffff;
                    border-width: 1px;
                    outline: none;
                    
                    &::placeholder {
                        color: #b1b1b1;
                    }
    
                    &:hover{
                        opacity: 0.65;
                    }
    
                    &:focus{
                        opacity: 0.68;
                        border-bottom-style: solid;
                        border-width: 1.5px;
                        border-color: #28b67e;
                    }
                }
            }
                .inscription {
                    font-size: 14px;
                    margin-bottom: 20px;
                    color: #ffffff;
                    padding: 5px;
    
                    span {
                        color: #28b67e;
                        font-weight: 900;
                    
                        &:hover {
                            color: #3bffb0;
                        }
    
                        &:focus {
                            color: #23a16f;
                        }
                    } 
                }
    
            button {
                padding: 15px;
                width: 20vw;
                border-radius: 5px;
                font-weight: bold;
                margin: 1vw;
                border:none;
                font-size: 15px;
                color: #ffffffc3;
                background-color: #28B67E;
                outline:none;
                cursor:pointer;
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    
                &:hover {
                    background-color: #2bc084;
                    color: #ffffffd7;
                }
    
                &:focus{
                    background-color: #23a16f;
                    color: #ffffffc3;
                }
            }
        }
    }

    .back {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        height: 60px;
        width: 60px;
        border-radius: 100px;
        margin: 50px;
        top: 0;
        left: 0;
        
        &:hover {
            background-color: #0d132114;
            align-content:center;
            border-radius: 100px;
        }

        &:active {
            cursor: pointer;
            background-color: #0d13210c;
        }
        
        .bx-arrow-back {
            font-size: 50px;
            color: var(wh);
            margin: 5px 7px;
            opacity: 0.75;
            position: fixed;
        
            &:hover {
                opacity: 1;
                cursor: pointer;
            }

            &:active {
                cursor: pointer;
                color: #ffffff9d;
            }

        }

    }  
}