body{
    background-color: var(--bla);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100vw;
    justify-content: space-between;

    .leftbox {
        display: flex;
        flex-direction: row;
        margin: auto 2vw;
        cursor: pointer;

        img {
            height: 4vh;
            width: 4vh;
            margin: auto 10px;
        }

        h2 {
            margin: auto 0;
            font-weight: bold;
            font-size: 20px;
        }
    }

    .rightbox {
        display: flex;
        flex-direction: row;
        margin: auto 2vw;

        a {  
            display: block;
            padding: 10px 1vw;
            text-align: center;
            margin: auto 5px;
            font-size: 0.9em;

            &:nth-child(3n+2){
                font-size: 1em;
                border-style: solid;
                border-color: var(--gren);
                border-width: 1px;
                font-weight: bold;
                color: var(--gren);
            }
        }
    }
}


.sect1 {
    margin:5vh 10vh;

    form {
        display: flex;
        flex-direction: column;

        .searchSect{
            display:flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    .shearch {
        height: 20px;
        width: 50%;
        border-radius: 10px;
        border: none;
        border-radius: 0;
        border-width: 1px;
        padding: 5px;
        margin: 10px;
        text-align: center;
        border-bottom-style: solid;
        border-bottom-color: #ffffffc2;
        background-color: transparent;
        outline: none;

        &:hover {
            border-bottom-color: #ffffff;
        }

        &:focus {
            border-bottom-color: #ffffffe7;
        }
    }

    .filter {
        height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        transition: all 0.5s ease;

        .title {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .rangefilter {
            display: flex;
            flex-direction: row;
        }

        .otherfilter {
            display: flex;
            flex-direction: row;
        }
        
        .boxcreatdate{
            display: flex;
            flex-direction: column;
            width: 25%;
            margin: auto 50px;
        }
        .creationdate {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .daterange {
                font-size: 12px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        
        
        .boxfadate{
            display: flex;
            flex-direction: column;
            width: 25%;
            margin: auto 50px;
        }
        .firstalbumdate {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .daterange {
                font-size: 12px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        .slidecreationdate {
            width: 100%;
            .slidercreationdate {
                -webkit-appearance: none;
                appearance: none;
                width: 100%;
                height: 3px;
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
                  
                &:hover {
                opacity: 1;
                }
                  
                &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 12px;
                height: 12px;
                background: #04AA6D;
                border-radius: 5px;
                cursor: pointer;
                }
                
                &::-moz-range-thumb {
                width: 12px;
                height: 12px;
                border-radius: 5px;
                background: #04AA6D;
                cursor: pointer;
                }
            }
        }

        .slidefirstalbum {
            width: 100%;
            .sliderfirstalbum {
                -webkit-appearance: none;
                appearance: none;
                width: 100%;
                height: 3px;
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
                  
                &:hover {
                opacity: 1;
                }
                  
                &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 12px;
                height: 12px;
                background: #04AA6D;
                border-radius: 5px;
                cursor: pointer;
                }
                
                &::-moz-range-thumb {
                width: 12px;
                height: 12px;
                border-radius: 5px;
                background: #04AA6D;
                cursor: pointer;
                }
            }
        }

        .nbmembres {
            margin: auto 50px;
            .allcheck {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                div {
                    display: flex;
                    flex-direction: row;
                    margin: 2px;
                    justify-content: center;

                    input[type="checkbox"]{
                        margin: 3px;
                        -webkit-appearance: none;
                        appearance: none;
                        font: inherit;
                        color: currentColor;
                        width: 1em;
                        height: 1em;
                        border: 0.05em solid currentColor;
                        border-radius: 0.15em;
                        display: grid;
                        place-content: center;

                        &::before {
                            content: "";
                            width: 0.50em;
                            height: 0.50em;
                            transform: scale(0);
                            transition: 120ms transform ease-in-out;
                            box-shadow: inset 1em 1em var(--gren); 
                            transform-origin: bottom left;
                            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                        }

                        &:checked::before{
                            transform: scale(1);
                        }
                    }

                    label {
                        font-size: 14px;
                        margin: 1px;
                    }
                }
            }
        }
        

        
        .locationsSelecteur {
            width: 25%;
            height: 40px;
            margin: auto 50px;
            color: white;
            font-weight: bold;
            border: none;
            padding: 3px;
            background-color: transparent;
            option {
                color: black;
                font-weight: bold;
            }
        }

    }

}


.sect2AA{
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    overflow-x: scroll;
    gap: 20px;

    .artist{
        position: relative;
        overflow: hidden;
        width: 15vh;
        flex: 1 0 auto;
        transition: ease 1s;
        border-radius: 2vh;
        margin: auto auto;
        img{
            height: 50vh;
            width: 50vh;
            filter: saturate(20%);
            transition: ease 1s;
        }
        .info{
            position: absolute;
            bottom: 0;
            background-color: #0d13219f;
            width: 100%;
            padding: 3vh;
        }
    }
}