body {
  display: flex;
  background-color: #0D1321;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(/server/images/background/concert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body form {
  opacity: 1;
  margin: 4.7vw;
  background-color: rgba(255, 255, 255, 0.808);
  padding: 18px 45px;
  border-radius: 20px;
  min-width: 300px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
body form .ligne1 {
  display: flex;
}
body form .ligne1 .back {
  display: flex;
  cursor: pointer;
  opacity: 0.75;
  height: 50px;
}
body form .ligne1 .back:hover {
  cursor: pointer;
  opacity: 1;
}
body form .ligne1 .back .bx-arrow-back {
  font-size: 40px;
  color: var(--bla);
}
body form .ligne1 h1 {
  color: #28B67E;
  text-align: center;
  padding: 15px;
}
body form .inputs {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}
body form .inputs input[type=username], body form .inputs input[type=password], body form .inputs input[type=confirmpassword] {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgba(13, 19, 33, 0.4235294118);
  color: rgba(236, 233, 233, 0.7019607843);
  outline: none;
  margin-bottom: 2vw;
  opacity: 0.5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
body form .inputs input[type=username]::placeholder, body form .inputs input[type=password]::placeholder, body form .inputs input[type=confirmpassword]::placeholder {
  color: rgba(7, 11, 19, 0.8);
}
body form .inputs input[type=username]:hover, body form .inputs input[type=password]:hover, body form .inputs input[type=confirmpassword]:hover {
  opacity: 0.6;
}
body form .inscription {
  font-size: 14px;
  margin-bottom: 20px;
  color: #000000;
  padding: 5px;
}
body form .inscription span {
  color: #28b67e;
}
body form button {
  padding: 13px 30px;
  border-radius: 5px;
  margin: 1vw;
  border: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7647058824);
  background-color: #28B67E;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
body form button:hover {
  background-color: #2bc084;
  color: rgba(255, 255, 255, 0.8431372549);
}
body .header {
  background-color: var(--bla);
  display: flex;
  flex-direction: row;
  height: 8vh;
  width: 100vw;
  justify-content: space-between;
}
body .header .leftbox {
  display: flex;
  flex-direction: row;
  margin: auto 2vw;
  cursor: pointer;
}
body .header .leftbox img {
  height: 4vh;
  width: 4vh;
  margin: auto 10px;
}
body .header .leftbox h2 {
  margin: auto 0;
  font-weight: bold;
  font-size: 20px;
}
body .header .rightbox {
  display: flex;
  flex-direction: row;
  margin: auto 12vw;
}
body .header .rightbox a {
  display: block;
  padding: 10px 1vw;
  text-align: center;
  margin: auto 5px;
  font-size: 0.9em;
}
body .header .rightbox a:nth-child(3n+2) {
  font-size: 1em;
  border-style: solid;
  border-color: var(--gren);
  border-width: 1px;
  font-weight: bold;
  color: var(--gren);
}

/*# sourceMappingURL=Signup.css.map */
