@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  display: flex;
  justify-content:center;
  flex-direction: columns;
  align-items: center;
  background-color: #0D1321;
  font-family: 'Roboto', sans-serif;
}

form {
  margin: 5vw;
  background-color: rgba(255, 255, 255, 0.842);
  padding: 22px 45px;
  border-radius: 20px;
  min-width: 300px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  
}

form h1{
  color: #28B67E;
  text-align:center;
  padding: 15px;
}

form .inputs {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

form .inputs input[type='username']::placeholder, input[type='password']::placeholder, input[type='confirmpassword']::placeholder {
  color: #070b13cc;
}

form .inputs input[type='username'], input[type='password'],input[type='confirmpassword']{
  padding: 15px;
  border:none;
  border-radius: 5px;
  background-color: #0d13218c;;
  color: #ece9e9b3;
  outline:none;
  margin-bottom: 2vw;
  opacity: 0.5;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

form .inputs input[type='username']:hover, input[type='password']:hover,input[type='confirmpassword']:hover {
  opacity: 0.6;
}

form p.inscription{
  font-size: 14px;
  margin-bottom: 20px;
  color: #878787;
  padding: 5px;
}

form p.inscription span{
  color: #28B67E;
}

form button{
  padding: 13px 30px;
  border-radius: 5px;
  margin: 1vw;
  border:none;
  font-size: 15px;
  color: #ffffffc3;
  background-color: #28B67E;
  outline:none;
  cursor:pointer;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

form button:hover{
  background-color: #2bc084;
  color: #ffffffd7;
}
