@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap%27");
/*.close {
    width: 0px;
    visibility: hidden;
    display: flex;

    ~ .home-section {
        right: 0px;
        width: calc(100% - 78px);
    }
}*/
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  width: 0;
  padding: 0;
  backdrop-filter: blur(6px);
  background-color: rgba(13, 19, 33, 0.862745098);
  z-index: 3;
  box-shadow: 0 8px 32px rgb(2, 4, 24);
  border-right: 2px solid rgba(255, 255, 255, 0.09);
  transition: all 0.5s ease;
}
.sidebar .sideheader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar .sideheader img {
  height: 50px;
  width: 50px;
  margin-top: 45px;
  margin-bottom: 10px;
}
.sidebar .sideheader h1 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 30px;
}
.sidebar .sideheader a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8431372549);
  cursor: pointer;
}
.sidebar .sideheader a:hover {
  color: #ffffff;
}
.sidebar .sideheader a:active {
  color: rgba(255, 255, 255, 0.8);
}
.sidebar .sideheader .filter {
  height: 0;
  margin: 10px;
  width: 80%;
  overflow: hidden;
  transition: all 0.5s ease;
}
.sidebar .sideheader .filter .title {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sidebar .sideheader .filter .creationdate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar .sideheader .filter .creationdate .daterange {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sidebar .sideheader .filter .nbmembres .allcheck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sidebar .sideheader .filter .nbmembres .allcheck div {
  display: flex;
  flex-direction: row;
  margin: 2px;
  justify-content: center;
}
.sidebar .sideheader .filter .nbmembres .allcheck div input[type=checkbox] {
  margin: 3px;
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.05em solid currentColor;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}
.sidebar .sideheader .filter .nbmembres .allcheck div input[type=checkbox]::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--gren);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.sidebar .sideheader .filter .nbmembres .allcheck div input[type=checkbox]:checked::before {
  transform: scale(1);
}
.sidebar .sideheader .filter .nbmembres .allcheck div label {
  font-size: 14px;
  margin: 1px;
}
.sidebar .sideheader .filter .slidecreationdate {
  width: 100%;
}
.sidebar .sideheader .filter .slidecreationdate .slidercreationdate {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.sidebar .sideheader .filter .slidecreationdate .slidercreationdate:hover {
  opacity: 1;
}
.sidebar .sideheader .filter .slidecreationdate .slidercreationdate::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #04AA6D;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar .sideheader .filter .slidecreationdate .slidercreationdate::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 5px;
  background: #04AA6D;
  cursor: pointer;
}
.sidebar .shearch {
  height: 20px;
  border-radius: 10px;
  border: none;
  border-radius: 0;
  border-width: 1px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.7607843137);
  background-color: transparent;
  outline: none;
}
.sidebar .shearch:hover {
  border-bottom-color: #ffffff;
}
.sidebar .shearch:focus {
  border-bottom-color: rgba(255, 255, 255, 0.9058823529);
}
.sidebar .sidecontent {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sidebar .sidecontent::-webkit-scrollbar {
  display: none;
}
.sidebar .artist {
  margin: 20px 5px;
  display: flex;
  flex-direction: row;
  transition: ease 0.5s;
}
.sidebar .artist:hover {
  transform: scale(1.1);
}
.sidebar .artist img {
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 25%;
}
.sidebar .artist div {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar .artist h3 {
  font-size: 1.2em;
}
.sidebar .artist p {
  font-size: 0.8em;
}

.header .home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.header .home-section .home-content .bx-search, .header .home-section .home-content .text {
  color: #28b67e;
  font-size: 35px;
}
.header .home-section .home-content .bx-search {
  margin: 0 15px;
  cursor: pointer;
}
.header .home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}

@media (max-width: 400px) {
  .sidebar {
    width: 78px;
  }
  .sidebar .close {
    width: 0;
  }
  .sidebar .close ~ .home-section {
    width: 100%;
    right: 0;
  }
  .header .home-section {
    right: 0px;
    width: calc(100% - 78px);
    z-index: 100;
  }
}

/*# sourceMappingURL=style_sidebar.css.map */
