body {
  background-color: var(--bla);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  height: 8vh;
  width: 100vw;
  justify-content: space-between;
}
.header .leftbox {
  display: flex;
  flex-direction: row;
  margin: auto 2vw;
  cursor: pointer;
}
.header .leftbox img {
  height: 4vh;
  width: 4vh;
  margin: auto 10px;
}
.header .leftbox h2 {
  margin: auto 0;
  font-weight: bold;
  font-size: 20px;
}
.header .rightbox {
  display: flex;
  flex-direction: row;
  margin: auto 2vw;
}
.header .rightbox a {
  display: block;
  padding: 10px 1vw;
  text-align: center;
  margin: auto 5px;
  font-size: 0.9em;
}
.header .rightbox a:nth-child(3n+2) {
  font-size: 1em;
  border-style: solid;
  border-color: var(--gren);
  border-width: 1px;
  font-weight: bold;
  color: var(--gren);
}

.sect1 {
  margin: 5vh 10vh;
}
.sect1 form {
  display: flex;
  flex-direction: column;
}
.sect1 form .searchSect {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sect1 .shearch {
  height: 20px;
  width: 50%;
  border-radius: 10px;
  border: none;
  border-radius: 0;
  border-width: 1px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.7607843137);
  background-color: transparent;
  outline: none;
}
.sect1 .shearch:hover {
  border-bottom-color: #ffffff;
}
.sect1 .shearch:focus {
  border-bottom-color: rgba(255, 255, 255, 0.9058823529);
}
.sect1 .filter {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  transition: all 0.5s ease;
}
.sect1 .filter .title {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sect1 .filter .rangefilter {
  display: flex;
  flex-direction: row;
}
.sect1 .filter .otherfilter {
  display: flex;
  flex-direction: row;
}
.sect1 .filter .boxcreatdate {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto 50px;
}
.sect1 .filter .creationdate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sect1 .filter .creationdate .daterange {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sect1 .filter .boxfadate {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto 50px;
}
.sect1 .filter .firstalbumdate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sect1 .filter .firstalbumdate .daterange {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sect1 .filter .slidecreationdate {
  width: 100%;
}
.sect1 .filter .slidecreationdate .slidercreationdate {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.sect1 .filter .slidecreationdate .slidercreationdate:hover {
  opacity: 1;
}
.sect1 .filter .slidecreationdate .slidercreationdate::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #04AA6D;
  border-radius: 5px;
  cursor: pointer;
}
.sect1 .filter .slidecreationdate .slidercreationdate::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 5px;
  background: #04AA6D;
  cursor: pointer;
}
.sect1 .filter .slidefirstalbum {
  width: 100%;
}
.sect1 .filter .slidefirstalbum .sliderfirstalbum {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.sect1 .filter .slidefirstalbum .sliderfirstalbum:hover {
  opacity: 1;
}
.sect1 .filter .slidefirstalbum .sliderfirstalbum::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #04AA6D;
  border-radius: 5px;
  cursor: pointer;
}
.sect1 .filter .slidefirstalbum .sliderfirstalbum::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 5px;
  background: #04AA6D;
  cursor: pointer;
}
.sect1 .filter .nbmembres {
  margin: auto 50px;
}
.sect1 .filter .nbmembres .allcheck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sect1 .filter .nbmembres .allcheck div {
  display: flex;
  flex-direction: row;
  margin: 2px;
  justify-content: center;
}
.sect1 .filter .nbmembres .allcheck div input[type=checkbox] {
  margin: 3px;
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.05em solid currentColor;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}
.sect1 .filter .nbmembres .allcheck div input[type=checkbox]::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--gren);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.sect1 .filter .nbmembres .allcheck div input[type=checkbox]:checked::before {
  transform: scale(1);
}
.sect1 .filter .nbmembres .allcheck div label {
  font-size: 14px;
  margin: 1px;
}
.sect1 .filter .locationsSelecteur {
  width: 25%;
  height: 40px;
  margin: auto 50px;
  color: white;
  font-weight: bold;
  border: none;
  padding: 3px;
  background-color: transparent;
}
.sect1 .filter .locationsSelecteur option {
  color: black;
  font-weight: bold;
}

.sect2AA {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  overflow-x: scroll;
  gap: 20px;
}
.sect2AA .artist {
  position: relative;
  overflow: hidden;
  width: 15vh;
  flex: 1 0 auto;
  transition: ease 1s;
  border-radius: 2vh;
  margin: auto auto;
}
.sect2AA .artist img {
  height: 50vh;
  width: 50vh;
  filter: saturate(20%);
  transition: ease 1s;
}
.sect2AA .artist .info {
  position: absolute;
  bottom: 0;
  background-color: rgba(13, 19, 33, 0.6235294118);
  width: 100%;
  padding: 3vh;
}

/*# sourceMappingURL=style_allArtist.css.map */
