body {
  overflow: hidden;
  background-image: url(/server/images/background/concert.jpg);
  background-repeat: no-repeat;
  fill-opacity: 0.5;
  background-size: cover;
  height: 100vh;
}
body .container {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(15, 33, 34, 0.6980392157));
  backdrop-filter: blur(5px) brightness(0.4);
  width: 100%;
  display: flex;
  flex-direction: row;
}
body .container .leftbox {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container .leftbox img {
  height: 20%;
  margin: 20px;
}
body .container .leftbox h1 {
  font-size: 3.5em;
  text-align: center;
}
body .container form {
  background-color: #0D1321;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40vw;
  padding: 0 10vh;
}
body .container form h1 {
  color: #28B67E;
  text-align: center;
  font-size: 3em;
  margin: 50px;
}
body .container form .inputs {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
body .container form .inputs input[type=username], body .container form .inputs input[type=password], body .container form .inputs input[type=confirmpassword] {
  width: 20vw;
  margin: 15px;
  padding-bottom: 5px;
  border: none;
  border-bottom-style: solid;
  border-color: #b1b1b1;
  background-color: transparent;
  color: #ffffff;
  border-width: 1px;
  outline: none;
}
body .container form .inputs input[type=username]::placeholder, body .container form .inputs input[type=password]::placeholder, body .container form .inputs input[type=confirmpassword]::placeholder {
  color: #b1b1b1;
}
body .container form .inputs input[type=username]:hover, body .container form .inputs input[type=password]:hover, body .container form .inputs input[type=confirmpassword]:hover {
  opacity: 0.65;
}
body .container form .inputs input[type=username]:focus, body .container form .inputs input[type=password]:focus, body .container form .inputs input[type=confirmpassword]:focus {
  opacity: 0.68;
  border-bottom-style: solid;
  border-width: 1.5px;
  border-color: #28b67e;
}
body .container form .inscription {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ffffff;
  padding: 5px;
}
body .container form .inscription span {
  color: #28b67e;
  font-weight: 900;
}
body .container form .inscription span:hover {
  color: #3bffb0;
}
body .container form .inscription span:focus {
  color: #23a16f;
}
body .container form button {
  padding: 15px;
  width: 20vw;
  border-radius: 5px;
  font-weight: bold;
  margin: 1vw;
  border: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7647058824);
  background-color: #28B67E;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
body .container form button:hover {
  background-color: #2bc084;
  color: rgba(255, 255, 255, 0.8431372549);
}
body .container form button:focus {
  background-color: #23a16f;
  color: rgba(255, 255, 255, 0.7647058824);
}
body .back {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  margin: 50px;
  top: 0;
  left: 0;
}
body .back:hover {
  background-color: rgba(13, 19, 33, 0.0784313725);
  align-content: center;
  border-radius: 100px;
}
body .back:active {
  cursor: pointer;
  background-color: rgba(13, 19, 33, 0.0470588235);
}
body .back .bx-arrow-back {
  font-size: 50px;
  color: var(wh);
  margin: 5px 7px;
  opacity: 0.75;
  position: fixed;
}
body .back .bx-arrow-back:hover {
  opacity: 1;
  cursor: pointer;
}
body .back .bx-arrow-back:active {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6156862745);
}

/*# sourceMappingURL=style_signup.css.map */
