@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap%27');

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  padding: 10px;
  backdrop-filter: blur(6px);
  background-color: #0d1321dc;
  z-index: 3;
  box-shadow: 0 8px 32px rgb(2,4,24);
  border-right: 2px solid rgba(255, 255, 255, 0.09);
  transition: all 0.5s ease;
}

.sidebar .sideheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .sideheader h1 {
    font-size: 1.2em;
    text-align: center;
    margin: 45px;
}

.sidebar.close{
  width: 0px;
  visibility: hidden;
  display: flex;
}

.sidebar.close ~ .home-section{
  right: 0px;
  width: calc(100% - 78px);
}


.header .home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
/* Continuer */
.header .home-section .home-content .bx-search,
.header .home-section .home-content .text{
  color: #28b67e;
  font-size: 35px;
}

.header .home-section .home-content .bx-search{
  margin: 0 15px;
  cursor: pointer;
}
.header .home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}






@media (max-width: 400px) {
  
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .header .home-section{
    right: 0px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    right: 0;
  }
}







.sidebar .shearch {
    height: 20px;
    border-radius: 10px;
    border: none;
    border-radius: 0;
    border-width: 1px;
    padding: 5px;
    text-align: center;
    border-bottom-style: solid;
    background-color: transparent;
    outline: none;
}
.sidebar .sidecontent{
    overflow-y: scroll;
    height: 80vh;
    width: 100%;  
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.sidebar .sidecontent::-webkit-scrollbar {
    display: none;
  }

.sidebar .artist {
    margin: 20px 5px;
    display: flex;
    flex-direction: row;
    transition: ease 0.5s;
}

.sidebar .artist:hover {
    transform: scale(1.1);
}

.sidebar .artist img {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 25%;
}

.sidebar .artist div {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar .artist h3 {
    font-size: 1.2em;
}

.sidebar .artist p {
    font-size: 0.8em;
}
