<div class="sidebar close">
    <div class="sideheader">
        <img src="none" alt="">
        <h1>Groupie-Tracker</h1>
        <form action="" method="post">
            <input type="text" name="shearch" placeholder="Schearch an artist" class="shearch">
        </form>
        <p>Show All</p>
    </div>
    <div class="sidecontent">
        <ul>
            {{ range $artist := .Artists }}
                {{ if ne ($artist.Id) 0 }}
                    <li><a href="/artist?id={{ $artist.Id }}"><div class="artist"><img src="{{ $artist.Image }}" alt=""><div><h3>{{ $artist.Name }}</h3><p>{{ $artist.CreationDate }}</p></div></div></a></li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</div>