<link rel="stylesheet" href="/server/css/style_sidebar.css">
<div class="sidebar close">
    <div class="sideheader">
        <img src="/server/images/icons/gplogo.png" alt="">
        <h1>Groupie-Tracker</h1>
        <form action="" method="post">
            <input type="text" name="shearch" placeholder="Schearch an artist" class="shearch">
            <a onclick="_showFilter()">▼ Filter</a>
            <div class="filter">
                <div class="creationdate">
                    <p class="title">Creation date</p>
                    <p id="test" class="daterange"> 1800-2020</p>
                </div>
                <div class="slidecreationdate">
                    <input name="creationdate" type="range" min="1800" max="2023" value="2020" class="slidercreationdate" id="myRange" oninput="_creationDateSlider()">
                </div>
                
                <div class="nbmembres">
                    <p class="title">Number of members</p>

                    <div class="allcheck">
                        <div>
                            <input type="checkbox" id="one_members" name="one_members" value="1">
                            <label for="one_members">1</label>
                        </div>
                        <div>
                            <input type="checkbox" id="tow_members" name="tow_members" value="2">
                            <label for="tow_members">2</label>
                        </div>
                        <div>
                            <input type="checkbox" id="tree_members" name="tree_members" value="3">
                            <label for="tree_members">3</label>
                        </div>
                        <div>
                            <input type="checkbox" id="four_members" name="four_members" value="4">
                            <label for="four_members">4</label>
                        </div>
                        <div>
                            <input type="checkbox" id="five_members" name="five_members" value="5">
                            <label for="five_members">5</label>
                        </div>
                        <div>
                            <input type="checkbox" id="six_members" name="six_members" value="6">
                            <label for="six_members">6</label>
                        </div>
                        <div>
                            <input type="checkbox" id="more_members" name="more_members" value="7">
                            <label for="more_members">7+</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <a href="/allArtist">Show All</a>
    </div>
    <div class="sidecontent">
        <ul>
            {{ range $artist := .Artists }}
                {{ if ne ($artist.Id) 0 }}
                    <li><a href="/artist?id={{ $artist.Id }}"><div class="artist"><img src="{{ $artist.Image }}" alt=""><div><h3>{{ $artist.Name }}</h3><p>{{ $artist.CreationDate }}</p></div></div></a></li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</div>