<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="server/css/style.css">
    <link rel="stylesheet" href="server/css/style_scrollbar.css">
    <link rel="stylesheet" href="server/css/style_sidebar.css">
    <link rel="stylesheet" href="server/css/style_allArtist.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
</head>

<body>
  <div class="header">
      <div class="leftbox" onclick="window.location.href='index.html'">
          <img src="/server/images/icons/gplogo.png" alt="">
          <h2>Groupie-Tracker</h2>
      </div>
      <div class="rightbox" id="hright">
          <a href="/signup">Sign up</a>
          <a href="/login">Login</a>
      </div>
  </div>

  <div class="sect1">
    <form action="" method="post" id="sidebarform">
        <div class="searchSect">
            <input type="text" name="shearch" placeholder="Schearch an artist" class="shearch" autocomplete="off">
            <a onclick="_showFilterAA()">▼ Filter</a>
        </div>
        <div class="filter">
            <div class="rangefilter">
                <div class="boxcreatdate">
                    <div class="creationdate">
                        <p class="title">Creation date</p>
                        <p class="daterange"> 1900-2020</p>
                    </div>
                    <div class="slidecreationdate">
                        <input name="creationdate" type="range" min="1900" max="2023" value="2020"
                            class="slidercreationdate" id="myRange">
                    </div>
                </div>
                
                <div class="boxfadate">
                    <div class="firstalbumdate">
                        <p class="title">First album</p>
                        <p class="daterange"> 1900-2020</p>
                    </div>
                    <div class="slidefirstalbum">
                        <input name="firstalbumdate" type="range" min="1900" max="2023" value="2020"
                            class="sliderfirstalbum" id="myRangeFA">
                    </div>
                </div>
            </div>
            <div class="otherfilter">
                <div class="nbmembres">
                    <p class="title">Number of members</p>

                    <div class="allcheck">
                        <div>
                            <input type="checkbox" name="one_members" value="1">
                            <label for="one_members">1</label>
                        </div>
                        <div>
                            <input type="checkbox" name="tow_members" value="2">
                            <label for="tow_members">2</label>
                        </div>
                        <div>
                            <input type="checkbox" name="tree_members" value="3">
                            <label for="tree_members">3</label>
                        </div>
                        <div>
                            <input type="checkbox" name="four_members" value="4">
                            <label for="four_members">4</label>
                        </div>
                        <div>
                            <input type="checkbox" name="five_members" value="5">
                            <label for="five_members">5</label>
                        </div>
                        <div>
                            <input type="checkbox" name="six_members" value="6">
                            <label for="six_members">6</label>
                        </div>
                        <div>
                            <input type="checkbox" name="more_members" value="7">
                            <label for="more_members">7+</label>
                        </div>
                    </div>
                </div>
                <select name="locationfilter" id="" class="locationsSelecteur">
                    <option value="">Select a location</option>
                    {{ range $location := .Locations}}
                    <option value="{{ $location }}">{{ $location }}</option>
                    {{ end }}
                </select>
            </div>
        </div>
    </form>

  </div>

  <div class="sect2AA">
    
  {{ range $artist := .Artists }}

  <a href="/artist?id={{ $artist.Id }}"><div class="artist" onmouseover="changesize(this)" onmouseleave="mouseleave(this)">
    <img src="{{ $artist.Image }}" alt="">
    <div class="info">
        <h2>{{ $artist.Name }}</h2>
        <p>{{ $artist.CreationDate }}</p>
    </div>
  </div></a>

  {{ end }}

  </div>
  <script type="text/javascript" src="/server/js/allartist.js"></script>
</body>
</html>