<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="server/css/style.css">
    <link rel="stylesheet" href="server/css/style_artist.css">
    <link rel="stylesheet" href="server/css/style_sidebar.css">
    <title>Groupie Tracker</title>
</head>
<body>
    {{ template "sidebar.html" . }}
    <div class="sect1">
        <img class="bg-image" src="{{ .Currentband.Image }}" alt="">
        <div class="content">
            <div class="leftbox">
                <div class="content">
                    <h1>{{ .Currentband.Name }}</h1>
                    <h2>Create in {{ .Currentband.CreationDate }}</h2>
                    <div class="btnlst">
                        <a href="#event" class="btn">Event</a>
                        <a href="" class="btn2">About us</a>
                    </div>
                </div>
            </div>
            <div class="rightbox">
                <img src="{{ .Currentband.Image }}" alt="">
                <div class="members"><p> {{ range $index, $name := .Currentband.Member }} <b>{{ $name }}</b> , {{ end }}</p></div>
            </div>
        </div>
    </div>
    <div class="secttrans">
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <h2>Hurry up meet us !</h2>
        <h1 id="event">Event</h1>
    </div>
    <div class="sect2">
        <div class="leftbox">
            <div class="content">
                <ul>
                    {{ range $key, $value := .Currentband.Relations }}
                        <div class="dateloc">
                            <li><p class="location">{{ $key }}</p></li>
                            {{ range $v := $value }}
                            <li>
                                <div class="event">
                                    <div class="eventdate">
                                        <p>{{ index $v 0 }} </p>
                                        <p class="date">{{ index $v 1 }}</p>
                                        <p>{{ index $v 2 }}</p>
                                    </div>
                                    <div class="infoloc">
                                        <h3>Concert</h3>
                                        <p>📍{{ $key }}</p>
                                        <p>🎟️$100,0</p>
                                    </div>
                                    <img src="/server/images/icons/right-arrow.png" alt="">
                                </div>
                            </li>
                            {{ end}}
                        </div>
                    {{ end }}
                </ul>

            </div>
        </div>
        <div class="rightbox">
            <img src="{{ .Currentband.Image }}" alt="" class="map">
        </div>
    </div>
</body>
</html>