<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="server/css/style.css">
    <link rel="stylesheet" href="server/css/style_index.css">
    <link rel="stylesheet" href="server/css/style_sidebar.css">
    <title>Groupie Tracker</title>
</head>
<body>
    {{ template "sidebar.html" . }}
    <div class="header">
        <div class="leftbox">
            <img src="none" alt="">
            <h2>Groupie-Tracker</h2>
        </div>
        <div class="rightbox">
            <a href="">Sign up</a>
            <a href="">Login</a>
            <img src="/server/images/icons/looplogo.png" alt="">
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="sect1">
                <h1>Groupie-Tracker</h1>
                <p>Find all the upcoming events of your favorite groups</p>
            </div>
            <div class="sect2">
                <div>
                    <h3>You May Like</h3>
                    <hr class="artistS">
                    <div class="artistR">
                        {{ range $value := .MPageRArtist }}
                        {{ $art := index .Artists $value }}
                        <div class="art">
                            <img src="none" alt="">
                            <div class="artinfo">
                                <p class="name">{{ $art .Name }}</p>
                                <p class="datecreat">19XX</p>
                            </div>
                        </div>
                        {{ end }}
                        <div class="art">
                            <img src="none" alt="">
                            <div class="artinfo">
                                <p class="name">Groupe Name</p>
                                <p class="datecreat">19XX</p>
                            </div>
                        </div>
                        <div class="art">
                            <img src="none" alt="">
                            <div class="artinfo">
                                <p class="name">Groupe Name</p>
                                <p class="datecreat">19XX</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>