<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="server/css/style.css">
    <link rel="stylesheet" href="server/css/style_index.css">
    <link rel="stylesheet" href="server/css/style_sidebar.css">
    <link rel="stylesheet" href="server/css/font_style.css">
    <link rel="icon" href="/server/images/icons/gplogo.png">
    <title>Groupie Tracker</title>
    <!-- Boxiocns CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {{ template "sidebar.html" .}}
    <div class="header">
        <div class="leftbox" onclick="window.location.href='index.html'">
            <img src="/server/images/icons/gplogo.png" alt="">
            <h2>Groupie-Tracker</h2>
        </div>
        <div class="rightbox">
            <section class="home-section">
                <div class="home-content">
                <i class="bx bx-search"></i>
                </div>
            </section>
            <a href="/signup">Sign up</a>
            <a href="/login">Login</a>
        </div>
    </div>
    
    <div class="container">
        <div class="content">
            <div class="sect1">
                <h1 class="mainTitle">Groupie-Tracker</h1>
                <p>Find all the upcoming events of your favorite groups</p>
            </div>
            <div class="sect2">
                <div>
                    <h3>You May Like</h3>
                    <hr class="artistS">
                    <div class="artistR">
                        {{ range $art := .MPageRArtist }}
                                <!--<div class="art">-->
                                    <a  class="art" href="/artist?id={{ $art.Id }}">
                                    <img src="{{ $art.Image }}" alt="">
                                    <div class="artinfo">
                                        <p class="name">{{ $art.Name }}</p>
                                        <p class="datecreat">{{ $art.CreationDate }}</p>
                                    </div>
                                    </a>
                                <!--</div>-->
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/server/js/sidebar.js"></script>
</body>
</html>